
<!-- Site build date: {{ "now" | date: "%FT%T%z" }} -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="/css/override.css">

  <!-- Begin highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/github.css">
  <link rel="stylesheet" href="/js/highlightjs/styles/ssms.css" />

  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>

  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/powershell.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/tsql.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/python.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/c.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/latex.min.js"></script>

  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->

  <script type="text/javascript" src="/js/darkreader.js"></script>
  <script type="text/javascript">
    DarkReader.setFetchMethod(window.fetch); // Fix to remedy CORS errors in chrome console
    DarkReader.enable();
    //DarkReader.auto( {brightness: 100, contrast: 90, sepia: 10} );
  </script>

    <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    
</head>
